.white-background {
    background-color: white;
}

.center-absolute-outer {
    position: relative;
}

/* won't work if inner is smaller than outer! */
/*.center-absolute-inner {*/
    /*position: absolute;*/
    /*margin: auto;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
/*}*/

.center-absolute-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
